<% layout("/layouts/boilerplate.ejs") %>
<br>
    <h2>New Listing</h2>
<div class="row">
<div class="col-8 offset-2">
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 col">
            <label for="title" class="form-label" >Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
            <div class="valid-feedback">Ttile looks good</div>
        </div>
        <div class="mb-3 col">
            <label for="description" class="form-label" >Desciption</label>
            <input type="text" name="listing[description]" placeholder="Enter Description" class="form-control" required>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="mb-3 col">
            <label for="image" class="form-label" >Upload Image</label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="validationCustom04" class="form-label">Category</label>
            <select class="form-select" id="validationCustom04" name="listing[category]" required>
              <option selected disabled value="">Select a category</option>
              <option value="Rooms">Rooms</option>
              <option value="Iconic cities">Iconic cities</option>
              <option value="Mountains">Mountains</option>
              <option value="Castles">Castles</option>
              <option value="Amazing pools">Amazing pools</option>
              <option value="Camping">Camping</option>
              <option value="Farms">Farms</option>
              <option value="Arctic">Arctic</option>
              <option value="Domes">Domes</option>
              <option value="Boats">Boats</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid category.
            </div>
          </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label" >Price</label> 
            <input type="" name="listing[price]" placeholder="eg- 1200" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label" >Country</label> 
            <input type="text" name="listing[country]" placeholder="eg- India" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Location</div>
        </div>
        </div>
        <div class="mb-3 ">
            <label for="location" class="form-label" >Location</label>       
            <input type="text" name="listing[location]" placeholder="eg- Jaipur" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Country name</div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Save</button> 
    </form>
    <br>
</div>
</div>